[submodule "CAPTCHA_recognition"]
	path = CAPTCHA_recognition
	url = https://github.com/lilyccollins/CAPTCHA_recognition.git
[submodule "music_generator"]
	path = music_generator
	url = https://github.com/lilyccollins/music_generator.git
[submodule "omnidirectional_robot"]
	path = omnidirectional_robot
	url = https://github.com/lilyccollins/omnidirectional_robot.git
[submodule "TYE_robot"]
	path = TYE_robot
	url = https://github.com/lilyccollins/TYE_robot.git
[submodule "COVID_genome_analyzer"]
	path = COVID_genome_analyzer
	url = https://github.com/lilyccollins/COVID_genome_analyzer.git
[submodule "bacteria_model"]
	path = bacteria_model
	url = https://github.com/lilyccollins/bacteria_model.git
